colorama
click
filelock
flatbuffers
funcsigs
numpy
opencv-python-headless
pyarrow
pyyaml
recommonmark
setproctitle
sphinx
sphinx-click
sphinx_rtd_theme
pandas
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
